{% extends 'UserBundle::layout.html.twig' %}

{% trans_default_domain 'UserBundle' %}

{% block fos_user_content %}

    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

{% endblock fos_user_content %}
